@media (max-width: 575px) {
    .abt-des1 {
        top: -8vh;
        left: -22vw;
        height: 150px;
        width: 350px;
    }

    .abt-des2 {
        bottom: -8vh;
        right: -22vw;
        height: 150px;
        width: 350px;
    }
}